name: Publish falconx-node Package to npmjs

on:
  push:
    branches:
      - master

permissions:
  contents: read
  # REQUIRED: This allows the job to request the OIDC ID token from GitHub
  id-token: write 


jobs:
  build-and-publish:
    runs-on: ubuntu-2core
    environment: release
    steps:
      - name: Checkout code
        uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f

      - name: Setup Node.js 20.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Publish to npm
        run: NODE_AUTH_TOKEN="" npm publish 
